@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';



$aqua: #00E0D5;


.main-component{
	z-index:999;
	position:relative;
	height:100vh;
	overflow:hidden;
}

.gallery {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.home-nav{
	text-decoration: none;
	z-index:9999;
}

// .home-nav:hover{
// 	color:blue;
// }

.logo{
	position:absolute;
	top:0;
	right:0;
	height:36px;
	z-index:9999;
}

.menu{
	// position:absolute;

}

// .social-icons-wrapper{
// 	background-color: white;
// 	position:absolute;
// 	top:0;
// 	left:80px;
// 	z-index: 0;
// 	width:15vw;
// 	height:36px;
// }

.social-icons{
	padding-top: 20px;
	position:absolute;
	bottom:10px;
	left:10px;
}


.facebook{
	height:22px;
	margin-right: 10px;
	margin-left: 15px;
	z-index:9999;

}

.twitter{
	height:20px;
	margin-right: 10px;
	z-index:9999;

}

.instagram{
	height:20px;
	margin-right: 10px;
	z-index:9999;

}

// VIEW HOME//////////AND////SLIDESHOW/////////////////
.homepage-wrapper{
	position:relative;
}


.homepage-wrapper h1{
	position:absolute;
	z-index:90;
}

.background-transition-home{

}

.paperHome{
	position:absolute;
	z-index:999;
	top: 200px;
	left: 50vw;

}




//ABOUT////////////////////////////////////

.wrapper_about{
	width:100%;
	// background-color:gray;
	// display:flex;
	// justify-content:center;
	// flex-direction:row;
}



.about_flex{

	// flex-direction:column;
}

.wrapper_about h4{
	text-align: center;
	padding-top: 100px;
}

.about{
	display:flex;
	justify-content:center;
	width: 100%;

}

.about img{
	height:400px;
	width:400px;
	margin-right: 50px;
	// border-radius:50%;
	object-fit:cover;

}

// .about img:hover{
// 	opacity: 0.2;

// }

.about p{

	width:500px;



}


// GALLERY COMPONENT///////////////////////////

.image-nav-wrapper{
	width: 100%;
	height: 100vh;
	z-index: 0;
	background-size: cover;
	position: relative;
}

.gallery-cat{
	// position:absolute;
	// z-index:1;
	// top: 80px;
	padding-top: 20px;
	padding-bottom: 10px;
	width:100vw;
	border-bottom: 1px solid gray;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}

.manufacturers-box{
	margin-right: 400px;
	margin-left: 400px;
	margin-top: 200px;
	position: absolute;
	overflow:hidden;
	top:0;
	left:0;
	right:0;
	z-index: 1;
	height:400px;
	// width:100vw;
	background-color: rgba(255,255,255, 0.8);
	// background-color: blue;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.manufacturers-flex{
	display: flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	
}

.manu-link {
	padding-top: 30px;
	text-decoration: none;
	color: black;
	font-size: 30px;
}

.manu-link:hover{
	color:blue;
	border:none;
}

.gallery-para{
	padding-left:30px;
	padding-right:30px;
	box-sizing:border-box;
}

button:focus {
	outline: none;
	border: none;
}

.left-button{
	position: absolute; 
	left: 20px; 
	top: 50vh;
	background-color: transparent;
	color:white;
	border:none;
	font-size: 40px;
	z-index:9999;
}

.left-button:hover{
	color:$aqua;
}

.right-button{
	position: absolute;
	right: 20px;
	top: 50vh;
	background-color: transparent;
	color:white;
	border:none;
	font-size: 40px;
	z-index:9999;
}

.right-button:hover{
	color:$aqua;
}

// .down-button span{
// 	font-size: small;
// }

.down-button{
	position: absolute; 
	width:100vw;
	text-align: center;
	bottom: 20px; 
	background-color: transparent;
	color:white;
	border:none;
	font-size: 20px;
	z-index:9999;
}

.down-button:hover{
	color:$aqua;
}

.up-button{
	position: absolute; 
	width:100vw;
	text-align: center;
	top: 20px; 
	background-color: transparent;
	color:white;
	border:none;
	font-size: 20px;
	z-index:9999;

}

.up-button:hover{
	color:$aqua;
}


.prev {
	font-size:small;
}

.next {
	font-size:small;
}


// ← → ↓

//FURNITURE////////////////////////////////////

.furniture-wrapper{


}


.furniture-individual-image {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:-9;

}


.collection-name-flex{
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.collection-name-box {
	background-color: white;
	padding:50px;
}

.furniture-wrapper h3{
	margin:0;
}

.furniture-wrapper a{
	text-decoration: none;
}


.furniture-wrapper a:hover{
	color:gray;
}





//LIGHTING////////////////////////////////////







//WALLCOVERINGS////////////////////////////////////






//TEXTILES////////////////////////////////////






//CONTACt////////////////////////////////////


.contact-wrapper{
	width:100vw;
	// height:100%;
	position:absolute;
	top:0;
	left:0;
	margin:auto;
}

.contact-flex{
  	// width:500px;
    // height:400px;
    // margin:auto;
    background-color: white;
    // border:1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
    // padding-left: 3%;
    padding-top: 3%;
    position:absolute;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 45%;

	z-index:9999;
	text-align: center;

}

.contact-flex h3{
	margin:0;
}


.contact-flex h2{
	margin:0;
	padding-bottom: 2%;
}

.contact-flex a{
	text-decoration: none;
}

.contact-flex a:hover{
	color: $aqua;
}


